p {
      font-family: "Roboto", "sans-serif";
  }
    
a {
  text-decoration: none;
  color: #4682c2;
    
}

a:hover,
a:focus {
    text-decoration: underline;
    color: saturate(#4682c2, 15%);
}

.nav-tabs {
    display: flex;
    border-bottom: 9px solid #4480c1;

    li {
        flex: 0 0 auto;
        font-size: 14px;
    }

    a {
        display: block;
        background: #3f6085;
        color: #ccc;
        padding: 10px 20px;

        .subdued {
            color: darken(@subduedText, 15%);
        }
      }
    }
